* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*general*/
a {
  text-decoration: none;
  color: #232136; /*Base #232136*/
}

li {
  list-style: none;
  margin: 2rem;
}
h1 {
  font-size: 2.5rem;
  font-weight: 400;
  align-self: flex-start;
  margin: 2rem;
}
/*colors*/

body {
  grid-template-columns: repeat(4, 1fr);

  background-color: #eee9e6; /*highlight #eee9e6*/
}
.container {
  display: grid;
}

.contact-nav {
  display: flex;
  background-color: #9ccfd8; /*foam #9ccfd8*/
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-column: span 3;
  margin: 1rem;
}

.card {
  display: flex;
  background-color: #e0def4;
  border-radius: 10px;
  padding: 1rem;
  margin: 4rem;
}

/* add contact page #2 */

.add-contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 2;
  align-items: center;
}

.contact-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2;
  justify-content: center;
}

input {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.profile-img {
  max-height: 125px;
  border-radius: 50%;
  border: black 2px solid;
}

.card-contact {
  grid-column: 1 / span 2;
}

.btn {
  background-color: #3e8fb0;
  border-radius: 5px;
  margin: 1rem;
}
