* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*general*/
a {
  text-decoration: none;
  color: #232136; /*Base #232136*/
}

li {
  list-style: none;
  margin: 2rem;
}
h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem;
}

a:hover {
  border-bottom: #fff 2px solid;
}
ul {
  justify-self: right;
}

body {
  background-color: #eee9e6; /*highlight #eee9e6*/
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #9ccfd8; /*foam #9ccfd8*/
  height: 100vh;
  grid-column: 1;
  align-items: center;
}

.nav-header {
  align-self: start;
}

.list-nav {
  justify-content: center;
}
.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-column: span 3;
  margin: 1rem;
}

.card {
  display: flex;
  background-color: #e0def4;
  border-radius: 10px;
  padding: 1rem;
  margin: 4rem;
  border: black 1px solid;
  min-height: 0;
}

/* add contact page #2 */

.add-contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 2;
  align-items: center;
}

.contact-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2;
  justify-content: center;
}

input {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.profile-img {
  max-height: 8rem;
  border-radius: 50%;
  border: black 2px solid;
  margin: 1rem;
}

.card-input {
  grid-column: 1 / span 2;
}

.btn {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.save-btn {
  background-color: #2e626d; /*#5794a0 from example, darkened for accessibility*/
}

.cancel-btn {
  background-color: #8d465a; /*#b7617a from example darkened for accessibility*/
}

.edit-btn {
  background-color: #2e626d; /*#5794a0 from example darkened for accessibility*/
}

.close-btn {
  background-color: #022b33;
}

.fav-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.name {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}

.info {
  grid-column: span 2;
  margin: 1rem;
  line-height: 2rem;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .main {
    grid-template-columns: 1fr;
  }
  h1 {
    margin: 0.5rem;
  }
  li {
    margin: 0.5rem;
    background-color: #745a612a;
    padding: 0.2rem;
    border-radius: 10px;
  }

  .nav-header {
    align-self: center;
  }
  nav {
    display: flex;
    grid-column: span 2;
    height: 25vh;
    justify-content: center;
  }
}
